<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.id%></td>
                <td><%= article.title%></td>
                <td><%= article.body%></td>
            </tr>    
        <% end %>
    </tbody>  
</table>
