<%= form_with url: comment_article_path(article), local: false, id: 'comment_form' do |form| %>
  <div class="field">
    <%= form.label :comentar %>
    <%= form.text_area "comment_text_#{article}" %>
  </div>

  <div class="actions">
    <%= form.submit "Comentar", class:'btn btn-success btn-sm' %>
  </div>
<% end %>
