<%= render '/home/navbar'%>
<div class="container">
    <h1> Adicionar Comentário</h1>

    <%= render 'form_comment'%>
    
    <%= link_to 'Voltar', articles_path, class:"btn btn-primary mb-2"%>
</div>