<h1>Editar Artigos</h1>

<%= render 'form', article: @article %>

<%= link_to 'Mostrar', @article, class:'btn btn-success btn-sm'%>  
<%= link_to 'Voltar', articles_path, class:'btn btn-warning btn-sm' %>
