<p>
  <strong>Título:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @article.body %>
</p>
<% if user_admin? %>
  <%= link_to 'Editar', edit_article_path(@article), class:'btn btn-warning btn-sm' %> 
<% end %>
<%= link_to 'Voltar', articles_path, class:'btn btn-primary btn-sm' %>
