<li class="list-group-item" id="comment_<%= @comment.id%>"><%=@comment.user.email%><p>"<%=@comment.body%>"</p>
    <% if user_admin? %>
        <%= link_to 'Remover Comentário', deletearticlecomment_url(@comment.id), method: :delete, local: false, remote: true, data: { confirm: 'Tem certeza?' } %>
    <% end %>
</li>                     
