<%= form_with url: comment_video_path(video), local: false, id: 'comment_form' do |form| %>
  <div class="field">
    <%= form.label :comentar %>
    <%= form.text_area "comment_text_#{video}" %>
  </div>

  <div class="actions">
    <%= form.submit "Comentar", class:'btn btn-success btn-sm' %>
  </div>
<% end %>
