<h1>Home#AdminIndex</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
     Vídeos recentes
    </div>
    <div class="col-sm">
      Notícias recentes
    </div>
    <div class="col-sm">
      Usuários
    </div>
  </div>
</div>