<%= render 'navbar'%>

<div class="container">
  <div class="row">
    <div class="col-sm">
        Notícias
        <%= render '/articles/feed_articles'%>
    </div>
    <div class="col-sm">
        Vídeos
        <%= render '/videos/feed_videos'%>

    </div>
  </div>
</div>